/* Estilo para el cuerpo de la página */
body {
    background-size: cover;
    background-position: center;
  background-color:rgb(147, 145, 145);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilo para el encabezado */
.header {
   top: 0%;
    background-color: #1e57997a;
    padding: 7px;
    text-align: center;
}
.menu-logo {
    display: flex;
    position: fixed;
    border-radius: 50%;
    z-index: 1100;
   
    width: 90px;
    margin: 10px;
}

.contenedorlogo {
    margin-bottom: 20px;
}

.nombredellogo {
    font-size: 36px;
    margin: 0;
    color: white;
}

/* Estilo para la barra de navegación */
.barra {
    text-align: center;
}

.barra a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin: 0 20px;
}

/* Estilo para los títulos */
h1, h2 {
    text-align: center;
    color: white;
    text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  

}

/* Estilo para los párrafos */
p {
    background-color: #3f3f3f5e;
    font-size: 30px;
    text-align: center;
    justify-content:left;
    margin: 30px;
    color:white;
    text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  

}

/* Estilo para las imágenes */
img {
    display: block;
    margin:  auto;
}
.barra{
    
    padding: 0;
    background-color: rgb(21, 124, 184);
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.barra a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
}
.barra a:hover{
    background-color: rgb(87, 3, 75);
}
h3 {
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
    color: rgb(243, 243, 243);
    text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  
}
a{
 
  background-color: #6363635e;
  font-size: 30px;
  text-align: center;
  justify-content:left;
  margin: 30px;
  color:white;
  text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  


}
/*carrucel*/
.article-carrusel{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
   
    margin-top: 50px;
    margin-bottom: 600px;
  }
  .article-carrusel__div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #foto-carrusel{
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
  }
  .article-carrusel__div button{
    margin: 20px;
    border: none;
    background: transparent;
  }
  .article-carrusel__div button img{
    width: 50px;
  }
  .article-carrusel__div button img:hover{
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #000;
  }
    /*Formulario*/  
  
.formulariob {
  font-family: Arial, sans-serif;
  background-image: url('gg1.jpg');
 

}

#formulario-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6767673d;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(225, 39, 39, 0.1);
}

.div-input {
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  

}

label {
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
}

#mensaje-enviado {
  text-align: center;
}
h3{
  font-size: 30px;
  text-align: center;
  color: rgb(243, 243, 243);
  text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  

}
#datos-ingresados{
  border: 1px solid #2b2b2b9f;
  font-size: 30px;
  text-align: center;
  color: rgb(243, 243, 243);
  text-shadow: 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000, 1px 0px 4px #000000;  
}
  .huevo{
    background-image: url("j1.jpg");
    height: 120vh;
  }
.contactos{
background-image: url("b11.jpg");

}
.autosusados{
  background-image: url("llanta.jpg");
  height: 300vh;
}
.auto1{
  display: flex;
  flex-direction: row;
}
.auto2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.auto3{
display: flex;
flex-wrap: wrap;


}
.auto4{
  display: flex;
  flex-wrap: wrap;
  

}
.auto5{
  display: flex;
  flex-wrap: wrap;
  

}
.auto6{
display: flex;
flex-direction: row;

}